<!DOCTYPE html>
<!--

    author:         arthurKN (2015)
    checkit:		http://github.com/distrill

-->
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="css/newTab.css"/>
		<title>firstTab</title>
	</head>
	<body>
        hello to you
		<form method="post">
			<input type="text" name="name">
			<input type="submit">
		</form>
    </body>
</html>
